<div class="modal-content about-modal-content">
    <header class="modal-header">
        <h2 id="about-title">Sobre mim</h2>
        <button id="about-modal-close" class="modal-close">&times;</button>
    </header>
    <div class="about-body">
        <section class="about-main-info">
            <div class="about-details">
                <h2>Gael Huk Kukla</h2>
                <p>Bacharel em Ciências da Computação pela <a href="https://www.up.edu.br/" target="_blank">Universidade Positivo</a>.</p>
            </div>
            <div class="about-photo">
                <img src="img/profile.png" alt="Foto de Perfil de Gael Kukla" class="profile-image">
            </div>
        </section>
        <hr class="about-separator">
        <section class="about-section">
            <p>Olá, eu sou o Gael, um desenvolvedor e ilustrador...</p>
            <ul>
                <li>Crio aplicações de integração entre frontend e backend com consistência de dados;</li>
                <li>Implemento sistemas de automação para extração e processamento de dados;</li>
                <li>Projeto e implemento soluções de banco de dados com MySQL;</li>
                <li>Trabalho com versionamento de código usando Git;</li>
                <li>Participo do desenvolvimento de sistemas em equipe usando metodologias ágeis;</li>
                <li>Atualmente, estou iniciando o processo para poder também trabalhar com ilustrações;</li>
            </ul>
        </section>
        <hr class="about-separator">
        <section class="about-section">
            <h3>Educação</h3>
            <p><strong>Bacharelado em Ciencias da Computação</strong><br>
            Universidade Positivo - Fevereiro de 2021 – Dezembro de 2025</p>
            <h3>Idiomas</h3>
            <p>Possuo conhecimento em <span class="language-highlight">Inglês</span> básico e <span class="language-highlight">Francês</span> também básico.<br>
            <span class="text-small">Atualmente, busco melhorar meu conhecimento nesses idiomas.</span></p>
            <p>Caso tenha se interessado em trabalhar comigo, mande-me um e-mail em <a href="mailto:gael.kukla@outlook.com">gael.kukla@outlook.com</a></p>
        </section>
        <hr class="about-separator">
         <section class="about-section">
            <h3>Outros</h3>
            <ul>
                <li>Já consegui o primeiro lugar em uma maratona de programação;</li>
                <li>Tenho interesse em desenvolver meu próprio jogo;</li>
                <li>Gosto de coisas relacionadas a arte, seja ela desenho, música ou dança;</li>
            </ul>
        </section>
    </div>
</div>