<div class="modal-content about-modal-content">
    <header class="modal-header">
        <h2 id="contact-title">Contato</h2>
        <button id="contact-modal-close" class="modal-close">&times;</button>
    </header>
    <div class="about-body">
        <section class="about-section">
            <p>
                Caso tenha interesse em trabalhar comigo, a maneira mais fácil de entrar em contato é por e-mail, 
                pois não costumo verificar frequentemente minhas mensagens nas redes sociais, 
                então, por favor, envie suas perguntas ou propostas para meu e-mail.
            </p>
        </section>
        <hr class="about-separator">
        <section class="about-section contact-call-to-action">
            <p>
                Utilize o seguinte e-mail: <code class="language-highlight">gael.kukla@outlook.com</code>
            </p>
            <p>
                Ou, apenas clique no botão abaixo...
            </p>
            <a href="mailto:gael.kukla@outlook.com" class="contact-button">Mande-me um e-mail</a>
        </section>
    </div>
</div>