<div class="modal-content project-modal-content">
    <header class="modal-header">
        <h2 id="project-title"></h2>
        <button id="project-modal-close" class="modal-close">&times;</button>
    </header>
    <div id="project-body" class="project-body">
        <div class="project-meta">
            <span>Linguagem: <strong id="project-language"></strong></span>
            <a id="project-repo-link" href="#" target="_blank">Link para o repositório</a>
        </div>
        <hr class="about-separator">
        <div id="project-description" class="project-description">
            </div>
    </div>
</div>