<div class="modal-content project-modal-content">
    <header class="modal-header">
        <h2 id="skills-title">Ferramentas e Linguagens</h2>
        <button id="skills-modal-close" class="modal-close">&times;</button>
    </header>
    <div class="project-body">
        <div class="custom-section-container" style="border: none; margin: 0; padding: 0;">
            <section class="custom-section">
                <h2>Ferramentas</h2>
                <div class="skills-grid">
                    <div class="skill-item">Visual Studio Code</div>
                    <div class="skill-item">Krita</div>
                    <div class="skill-item">IntelliJ</div>
                    <div class="skill-item">Eclipse</div>
                    <div class="skill-item">Android Studio</div>
                    <div class="skill-item">Figma</div>
                    <div class="skill-item">GitHub</div>
                </div>
            </section>
            <section class="custom-section">
                <h2>Desenvolvimento</h2>
                <div class="skills-grid">
                    <div class="skill-item">C/C++</div>
                    <div class="skill-item">C#</div>
                    <div class="skill-item">Node.js</div>
                    <div class="skill-item">Python</div>
                    <div class="skill-item">HTML/CSS</div>
                    <div class="skill-item">React</div>
                    <div class="skill-item">Rust</div>
                    <div class="skill-item">Machine Learning</div>
                    <div class="skill-item">MySQL</div>
                </div>
            </section>
        </div>
    </div>
</div>